extends layout 

block content 
        .div 
            .header
                p Welcome to my portfolio

                .projects 
                    .project
                        .project__header
                            h2 Here are a few of my projects
                        .project__image 
                            p images go here
                    .project
                        .project__header
                            h2 Here are a few of my projects
                        .project__image 
                            p images go here