doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        link(rel="shortcut icon" type="image/png" href="/images/icons/plant.svg")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
    body 
        .wrapper
            h2.wraptitle Codie Stover
        .nav_bar 
            li.nav_item.logo: a.nav__link(href="/")
                span.contact Codiestover.cs@gmail.com
                br
                span.contact 586-864-3218   
            li.nav_item: a.nav__link(href="/resume")
                != h.icon('file')
                span Resume
            li.nav_item: a.nav__link(href="/projects")
                != h.icon('folder')
                span Projects
            li.nav_item: a.nav__link(href="https://github.com/codiemaureen")
                != h.icon('github')
                span Github
            li.nav_item: a.nav__link(href="https://www.linkedin.com/in/codiemaureen/")
                != h.icon('LinkedIn')
                span LinkedIn
                
        .content
            block content

        .links 
            .icon: a.icon__link(href="https://www.linkedin.com/in/codiemaureen/")
                != h.icon('linkedIn')
            .icon: a.icon__link(href="https://www.github.com/codiemaureen/")
                != h.icon('github')
            .icon: a.icon__link(href="/resume")
                != h.icon('file')