mixin cert()
        .projects
            .project
                .cert_header
                    h2 NodeJS
                .project__image: a(href="/images/NodeCert.jpg")    
                    img(src="/images/NodeCert.jpg", alt="projects")
            .project
                .cert_header
                    h2 ES6
                .project__image: a(href="/images/ES6Cert.jpg")    
                    img(src="/images/ES6Cert.jpg", alt="projects")
            .project
                .cert_header
                    h2 JavaScript
                .project__image: a(href="/images/JavaScriptCert.jpg")    
                    img(src="/images/JavaScriptCert.jpg", alt="projects")
