mixin project()
            .project
                .project__header
                    h2 Wedding Site
                .project__image
                    img(src="/images/nicolewedding.png", alt="projects")
            .project
                .project__header
                    h2 Grub Review Page
                .project__image
                    img(src="/images/grubreview.png", alt="projects")
            .project
                .project__header
                    h2 JWT Login 
                .project__image
                    img(src="/images/JWTlogin.png", alt="projects")