mixin project()
        .projects
            .project
                .project__header
                    h2 Wedding Site
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/Nicole_Wedding_Page") 
                        != h.icon('github')
                    .gitlink: a(href="https://nicole-wedding.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://nicole-wedding.herokuapp.com/")    
                    img(src="/images/nicolewedding.png", alt="projects")
            .project
                .project__header
                    h2 Grub Review Page
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/GrubReviewAPI")
                        != h.icon('github')
                    .gitlink: a(href="https://grub-review-api.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://grub-review-api.herokuapp.com/") 
                    img(src="/images/grubreview.png", alt="projects")
            .project
                .project__header
                    h2 JWT Login
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/JWTLoginAPI")  
                        != h.icon('github')
                    .gitlink: a(href="https://login-verify.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://login-verify.herokuapp.com/") 
                    img(src="/images/JWTlogin.png", alt="projects")
            .project
                .project__header
                    h2 Product Fetcher API
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/Products_API")  
                        != h.icon('github')
                    .gitlink: a(href="https://product-search-api.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://product-search-api.herokuapp.com/  ") 
                    img(src="/images/product.png", alt="projects")
            .project
                .project__header
                    h2 Job Tracker API
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/JobsAPI")  
                        != h.icon('github')
                    .gitlink: a(href="https://jobtracking-api.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://jobtracking-api.herokuapp.com/") 
                    img(src="/images/jobsapi.png", alt="projects")
            .project
                .project__header
                    h2 Dad Jokes
                .project__links
                    .gitlink: a(href="https://github.com/codiemaureen/DadJokes_API")  
                        != h.icon('github')
                    .gitlink: a(href="https://dad-jokesapi.herokuapp.com/") 
                        != h.icon('laptop')
                .project__image: a(href="https://dad-jokesapi.herokuapp.com/") 
                    img(src="/images/dadsjokes.png", alt="projects")
