body {
  margin: 0;
  background: url("../../images//background.jpg") center bottom no-repeat;
  display: block;
  background-size: cover;
  font-size: 36px;
}

.div {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 50px auto;
  max-width: 70vw;
  background-color: white;
  box-shadow: $shadow;
}

p {
  display: flex;
  text-shadow: $shadow;
  justify-content: center;
  justify-self: center;
}

.links {
  color: white;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 0px 20px 20px;
}
