.projects {
  display: flex;
  flex-wrap: wrap;
  margin: -1.25em 0 0 -1.25em;
}

.project {
  background: white;
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: $shadow;
  margin: 1.25em 0 0 1.25em;
  width: calc(33.3333% - 1.25em);
}

.project__header {
  display: flex;
  justify-content: center;
  background: white;
  height: 40px;
  font-size: 15px;
}
.project__links {
  display: flex;
  padding-top: 10px;
  margin: 0 auto;
}

.project__image {
  justify-content: center;
  justify-self: center;
}

h2 {
  display: flex;
  justify-content: center;
}
