.projects {
  display: flex;
  flex: wrap;
  margin: 50px;
}

.project {
  background: white;
  display: flex;
  box-sizing: inherit;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  box-shadow: $shadow;
  margin: 1.25em 0 0 1.25em;
  width: calc(33.3333% - 1.25em);
}

.project__header {
  display: flex;
  justify-content: center;
  background: white;
  font-size: 15px;
}
.project__links {
  display: flex;
  margin: auto;
}

.project__image {
  justify-content: center;
  justify-self: center;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  border: 10px solid #241e19;
  height: 60vh;
  background-color: white;
  box-shadow: 2px 2px rgba(211, 211, 211, 0.308);
  margin: 10px;
}
