body {
  background-image: url("../../images/background.jpg") center top no-repeat;
}

.resume {
  display: flex;
  margin: auto;
  max-width: 45vw;
}

img {
  display: flex;
  width: 100%;
  box-shadow: $shadow;
}

.cert_header {
  font-size: 15px;
}
