.resume {
  display: flex;
  justify-content: center;
  justify-self: center;
  border: 10px solid black;
  margin: 80px;
}

img {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-self: center;
}
